<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72157361026-pubod0gu9qsel7fl2svi9c174du1185e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72157361026-pubod0gu9qsel7fl2svi9c174du1185e</string>
	<key>API_KEY</key>
	<string>AIzaSyA9SYgRAcEODuKSCKzEZCWVALeBlWTVcLA</string>
	<key>GCM_SENDER_ID</key>
	<string>72157361026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yasinerdemli.FirebaseBootcamp</string>
	<key>PROJECT_ID</key>
	<string>fir-bootcamp-82e0c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-bootcamp-82e0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72157361026:ios:bba3012a3a9b162061d59b</string>
</dict>
</plist>